{% extends "base.html" %}
{% block content %}
<section class="profile">
    <!-- <div class="container-header">
        <h3 class="container-title">My Account</h3>
    </div> -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/44901716?v=4" class="card-img-top"
                        alt="My profile picture">
                    <div class="card-body text-center">
                        <h4 class="card-text">John Mwangi</h4>
                        <p>username</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis minima sapiente
                            perferendis aliquam saepe nesciunt quis, autem assumenda ad ducimus!</p>
                        <h6>Jioned on: <span class="badge rounded-pill bg-secondary text-white">2021</span> </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="form-update-profile">
                        <form>
                            <div class="row m-3">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}