{% import 'bootstrap/wtf.html' as wtf%}
{% extends "base.html" %}
{% block content %}
<style>
    .form-control {
        margin-bottom: 10px;
    }
</style>
<section class="profile">
    <!-- <div class="container-header">
        <h3 class="container-title">My Account</h3>
    </div> -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/44901716?v=4" class="card-img-top"
                        alt="My profile picture">
                    <div class="card-body text-center">
                        <h4 class="card-text">
                            {% if current_user.name == None %}
                            <span class="text-danger">No name</span>
                            {% else %}
                            {{ current_user.name }}
                            {% endif %}
                        </h4>
                        <p>{{ current_user.username }}</p>
                        <p>
                            {% if current_user.about_me %}
                            {{ current_user.about_me }}
                            {% else %}
                            <span class="text-danger">No about me</span>
                            {% endif %}
                        </p>
                        <h6>Jioned on: <span class="badge rounded-pill bg-secondary text-white">
                                {{ current_user.member_since.strftime('%d %b %Y') }}</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-2">
                            {% if user == current_user %}
                            <form action="{{url_for('main.update_profile_pic',uname=user.username)}}" method="post"
                                enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="file" name="photo" class="form-control" required>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-dark btn-lg btn-sm" value="Update Picture">
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="form-update-profile">
                        <div class="row m-3">
                            {{wtf.quick_form(form)}}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}