@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fdeedc;
}
:root {
  --main-color: #ea1e63;
}

.color-primary {
  color: var(--main-color) !important;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #0015ff;
  border-color: #0015ff;
}

.btn-primary:hover {
  background-color: #0015ff;
  border-color: #0015ff;
}

.btn-success {
  background-color: #800080;
  border-color: #800080;
}

.btn-success:hover {
  background-color: #800080;
  border-color: #800080;
}

.btn-secondary,
.btn-secondary:hover {
  background-color: #6b34ba;
  color: white !important;
  border-color: #6b34ba;
}

.btn-default,
.btn-default:hover {
  background-color: #000000;
  border-color: #000000;
  color: white;
  margin-top: 10px;
}

.btn-outline-danger:hover {
  color: white !important;
}
/* navbar */
.navbar-brand {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.navbar-brand:hover {
  color: black;
}
.navbar-expand-lg, footer {
  /* background-image: linear-gradient(
    to right,
    rgb(30, 60, 114) 0%,
    rgb(42, 82, 152) 51%,
    rgb(30, 60, 114) 100%
  ); */
  background-color: #800080;
}

.navbar-expand-lg li a {
  color: white;
}

.navbar-toggler .fa-bars {
  color: white;
}

.nav-right {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.navbar-brand span {
  color: var(--main-color);
  font-size: 20px;
}

.navbar-brand:hover {
  color: #ffffff;
}

.nav-link:hover {
  color: var(--main-color);
}

/* homepage */
.homepage {
  margin: 20px;
}
.trending {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.trending-content {
  padding-top: 350px;
  margin: 10px;
  color: white;
}

.trending-div {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.homepage .thumbnail img,
.latest-pitches .latest-cards-body img {
  height: 30px;
  border-radius: 50%;
}
.homepage .justify-content-start div {
  margin-right: 10px;
}

.homepage .justify-content-start div h6 {
  font-size: 15px;
}

.div-right .homepage .justify-content-start span {
  color: rgb(73, 73, 73);
}

.headings {
  float: left;
  color: #000;
  display: block;
  font-size: 26px;
  text-transform: capitalize;
  letter-spacing: -0.03em !important;
  padding-bottom: 0px;
  margin: 0px;
  letter-spacing: 0em;
  position: relative;
}

.card-right-homepage {
  padding: 14px;
  background-color: white;
  border-radius: 15px;
  color: black;
}

.card-right-homepage img {
  border-radius: 15px;
}

/* category */

/* .categories {
    color: white;
} */

.card-category {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card-category-title-right {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.card-category-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 20px;
}
.card-category-content h6 {
  font-weight: 900;
}

/* latest pitches */

.latest-cards-heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.latest-content button {
  margin: 30px 0px 0px 30px;
}
.latest-content {
  padding-bottom: 150px;
}

.latest-pitches h5 {
  color: black;
}

.latest-pitches .latest-cards-body h6 {
  font-size: 15px;
  color: rgb(41, 41, 41);
}

.latest-pitches .latest-cards-body .justify-content-start div {
  margin-right: 10px;
}

.card {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 11px 5px #673ab71a;
  margin-bottom: 30px;
  padding: 5px 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
  background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
}

/* login page */
.container-header {
  text-align: center;
  padding: 25px;
  background-color: #f0f0f0;
}

.login-card {
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}

.login-container {
  background-color: white;
}

.login-container label {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.login-container .checkbox {
  margin-top: 10px;
}

.login-container p {
  margin-top: 10px;
  font-size: 13px;
}

.login-container .form-group {
  margin-top: 10px;
}

.login-container .help-block {
  color: #ff0000;
}

/* profile page */
.card-img-top {
  border-radius: 50%;
  display: block;
  float: none;
  height: 180px;
  line-height: 32px;
  margin: 0 auto;
  width: 180px;
  margin-top: 6px;
}

/* single pitch */
.img-box img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.text-underline {
  text-decoration: underline;
}

footer {
  padding: 10px;
  color: white;
}

footer a {
  color: rgb(26, 25, 25);
}

.latest-cards {
  height: 250px;
}