<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Photo</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for pitch in pitches %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><button class="btn btn-warning btn-sm">{{ pitch.category.name }}</button></td>
            <td>{{ pitch.title }}</td>
            <td><small>{{ pitch.body }}</small></td>
            <td>
            </td>
            <td>{{ pitch.timestamp.strftime('%d %b %Y') }}</td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr> -->
    </tbody>
</table>