{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="row">
    <!-- <div class="col-md-12">
        <div class="card m-4">
            <p class="m-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis accusamus nulla recusandae
                praesentium enim, distinctio quasi minima dicta ipsa maiores.
            </p>
        </div>
    </div> -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 m-5">


                <div class="card">
                    <div class="d-flex justify-content-start">
                        <div class="img-box">
                            {% if pitch.user.profile_image %}
                            <img src="{{url_for('static',filename=pitch.user.profile_image)}}" alt="{{ pitch.title }}">
                            {% else %}
                            <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                                alt="{{ pitch.title }}">
                            {% endif %}
                        </div>
                        <div class="m-2 mt-4">
                            <h6>{{ pitch.user.name}}</h6>
                        </div>
                        <div class="m-2 mt-4">
                            <h6> <i class="fa fa-clock"></i> <span>
                                    16 Sep 2021
                                </span>
                            </h6>
                        </div>
                    </div>
                    <p class="m-2">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis accusamus nulla recusandae
                        praesentium enim, distinctio quasi minima dicta ipsa maiores.
                    </p>
                </div>




            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- add comment form -->
        <div class="card m-5">
            <div class="card-body">
                {{ wtf.quick_form(form) }}
                <!-- <form method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label for="comment" class="control-label">Comment</label>
                        <textarea class="form-control" id="comment" name="comment"
                            placeholder="Leave a comment here....." rows="3"></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}